#entryContainer{
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(15, 15, 15, 0.3);
    border-radius: 5px;

    padding: 2% 10% 5% 10%;
    margin: 3% 5% 0 5%;

    -moz-box-shadow: 0 0 1px black;
    -webkit-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
}

#entryContainer>p{
    margin-left: 25px;
}